body {
    font-family: Consolas;
}
.NuevoPopup {
    width: 10%;
    overflow-x: auto;/* Permitir el desplazamiento horizontal si la tabla es más ancha que el contenedor */
    max-height: 5vh; /* Altura máxima del popup, ajustada al 80% del alto de la ventana */
    margin-bottom:20px;
    overflow-y: auto; /* Habilitar desplazamiento vertical si es necesario */
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
    scroll-padding: 40px;
}

.titulos h3,
.titulos h4 {
    text-align: center; /* Alinear texto al centro */
}

#InfoUser {
    scrollbar-arrow-color: blue;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; /* Utilizar el 100% del ancho disponible */
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 999; /* Asegurar que la capa overlay esté sobre el resto del contenido */
}

    .overlay:target {
        visibility: visible;
        opacity: 1;
    }

#popupBody {
    width: 55%; /* Utilizar el 80% del ancho disponible */
    height: 60%;
    max-width: 900px; /* Establecer un ancho máximo */
    padding: 1%;
    margin:77px;
    border-radius: 10px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    margin: 10% auto;
    transition: all 5s ease-in-out;
}

#cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
    transition: all 200ms;
}


/*seccion de la tabla del popup*/


.NuevoPopup {
    height:9%;
    margin-top:2px;
}

.NuevoPopup th,
.NuevoPopup td {
    padding: 8px; /* Añadir espacio entre el contenido de las celdas y los bordes */
    margin: 5px 0px; /* Añadir un margen entre cada párrafo para separarlos */
}
    
.titulo1 {
        background-color: rgba(255,255,255,0.3);
    }

.titulo2 {
    background-color: rgba(255,255,255,0.3);
}
.columna1 {
    background-color: rgba(255,255,255,0.3);
}


/* Estilos para las celdas de la tabla */

.NuevoPopup td {
    border-bottom: 1px solid #ddd; /* Agregar bordes inferiores a las celdas */
}

/* Ajustar el tamaño de la tabla en dispositivos móviles */
@media screen and (max-width: 600px) {
    .NuevoPopup {
        width: 1%; /* Utilizar todo el ancho disponible */
        height: 0;
        overflow-x: auto; /* Permitir el desplazamiento horizontal si la tabla es más ancha que el contenedor */
    }

        .NuevoPopup th,
        .NuevoPopup td {
            width: auto; /* Permitir que las columnas se ajusten automáticamente */
        }
}


/* estilos de la tabla */



.NuevoPopup {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .NuevoPopup th {
        background-color: rgba(255,255,255,0.3);
    }

/* new */

h1 {
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: rgba(255,255,255,0.3);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #000;
    border-bottom: solid 1px rgba(255,255,255,0.1);
}
.botonok {
    color: #000000;
    font-size: medium;
    font-weight: bold;
    background: #cccccc;
    padding: 3px 35px;
    border-radius:15px;
}

/* demo styles */

section {
    background: #cccccc;
    background: #cccccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}